.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-smallest) {
    position: relative;
    flex-direction: column;
  }

  &__box-left {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
    }
  }

  &__box-right {
    display: flex;
    align-items: center;
    align-self: stretch;

    @media only screen and (max-width: $bp-smallest) {
      align-self: center;
      flex-direction: column;
      padding: 2rem 0;
    }
  }

  &__heading {
    font-weight: 300;
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;

    @media only screen and (max-width: $bp-smallest) {
      position: absolute;
      top: 2.7rem;
      right: 2rem;
      height: 7rem;
      width: 7rem;
      margin-left: 0;
      border-radius: 50%;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-small) {
      font-size: 0.5rem;
    }
  }
}
